* {
    background-color: bisque !important;
    font-family: 'Raleway', sans-serif;

}

#heading {
    letter-spacing: 28px;
    font-size: 50px;
}



div.row :hover {
    background-color: aliceblue;
}

div.row {
    border-radius: 50;
}

div.row div.list-group-item, div.list-group-item a {
    background-color: white !important;
}


